@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}
.header{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;
}
.box{
  display: flex;
}